/.idea
/.vscode
/.vagrant
/node_modules
/public/hot
.temp
/public/storage
/storage/*.key
/storage/debugbar
/vendor
.env
.DS_Store
.phpstorm.meta.php
*.iws
*.iml
*.log
*.sublime-workspace
*.sublime_project
_ide_*
Homestead.json
Homestead.yaml
logs
npm-debug.log
public/gtimg/.svn
yarn-error.log
